@import url('https://fonts.googleapis.com/css2?family=Iceland&family=Turret+Road&display=swap');

/* Sidans bakgrund */
body {
      background-color: rgb(130, 128, 128);

}

/* Kontainer utseende */
.kontainer {
    width: 850px;
    padding: 30px;
    margin: auto;
    font-family: "Iceland", sans-serif;
    font-size: 140%;
    font-stretch: wider;

}
h1{
    font-family: "Turret Road", sans-serif;
    font-size: 200%; 
}
h2{}

/* Boxarnas utseende */
.bild {
    background-color: #463d3a;
    color: rgb(190, 189, 189);
    padding: 80px;
    margin-bottom: 45px;


}
img {
    width: 100%;
    
}
h3{
    margin-top: 40px;

}
p{}
a{}


