@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 10px;
    padding: 20px;
}

/* Layout */
body {
    background-color: #1a4413;
    scroll-padding: 50px;

}

.kontainer {
    font-family: "League Spartan";
    width: 1200px;
    margin: auto;
    padding: 50px;
    background-color: rgb(113, 155, 115);
}
.presentation {
    background-color: #0e460e;
    color: rgb(198, 217, 203);
    font-size: 115%;
    margin-bottom: 40px;
    text-align: center;
    border:white;
    border: 10px solid rgb(201, 222, 201);

}

.kolumn {
    display: flex;
    flex-direction: row;
    gap: 50px;
    border-radius: 40px;
    margin-inline: 5px;
}

.bild {
    background-color: #1a4413;
    color: #ccdec9db;
    padding: 30px;
    margin-bottom: 40px;
    display: flex;
    gap: 10px;
    border-radius: 40px;
}

/* Rubrikerna */
h1 {
    font-family: "Poiret One", system-ui;
    font-size: 80px;
    font-weight: bolder;
    color: rgb(9, 59, 9);
    margin-inline-start: 400px;
    margin-bottom: 5px;
    margin-top: 5px;
}

h2 {
    font-size: xx-large;
    margin-bottom: 10px;
    margin-inline-start: 38px;
    color: #d2e5cf;

}

/* Sidans innehåll */
img {
    height: 10%;
    width: 40%;
    border-radius: 10px;
    border: 6px solid rgb(255, 255, 255);
}

.bildtext {
    font-size: 115%;
    

}