@import url('https://fonts.googleapis.com/css2?family=Faster+One&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');
/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}
/* Layout */
body {
    background-color: #7229d2;

}
.kontainer {
    font-family: "Roboto Flex";
    width: 900px;
    margin: auto; 
    padding: 40px;
    background-color: beige;
}
.kolumn { 
    display: flex;
    gap: 50px;
}
.bild {
    background-color: #120e799e;
    color:#fff;
    padding: 20px;
    margin-bottom: 50px;
    display: flex;
    gap: 50px;
    border-radius: 50px;
}
/* Rubrikerna */
h1 {
   font-family: "Faster One", system-ui;
   font-size: 70px;
   margin bottom: 20px;
} 
h2 {
    margin-bottom: 20px;

}

/* Sidans innehåll */ 
img {
    height: 60%;
    width: 50%;
    border-radius: 10px;
    border: 5px solid white;
}

.bildtext { 

}
.thanks {

}
a {

}