@import url('https://fonts.googleapis.com/css2?family=Niconne&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}
body{
    background-color: #3d2c45;
    margin-top: 40px;
    margin-bottom: 40px;
}


.kontainer{
    font-family: "Red Hat Display", sans-serif;
    width: 1000px;
    padding: 100px;
    margin: auto;
    background-color: #a9aca9;
}

/* menyns utseende */

.kontainer ul{
    display: flex;
    justify-content: space-between;
    gap: 25px;
}


.kontainer ul li{
    list-style-type: none;
    text-decoration: #790404;
    

}


.kontainer ul a{
    text-decoration: none;
    color: #bfc3ba;
    background-color: #60495a;
    padding: 8px;
    border-radius: 20px;
    text-align: center;
    font-weight: bold;
}


.kontainer ul a:hover{
    background-color: #7f7e7e;
    color: #2f2235;
    font-weight: bold;
}


/* innehållet */

.kontainer h1{
    font-family: "Niconne", cursive;
    color: #3f3244;
    font-size: 90px;
    text-align: center;
    margin-bottom: 30px;
}


.kontainer figure{
    background-color: #3F3244;
    padding: 30px;
    width: 90%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}


.kontainer figure img{
    width: 100%;
}


.kontainer figure figcaption{
    color: #bfc3ba;
}


.kontainer p{
    margin-bottom: 15px;
    color: #2f2235;
    font-size: 100%;
    font-weight: bold;
}


.kontainer .tack{
    margin-top: 20px;
    font-style: italic;
}

.kontainer .tack a{
    text-decoration: none;
    color: #2f2235;

}

